.GAME {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.GAME__images {
  position: relative;
  width: 25%;
}

.GAME__triangle {
  display: block;
  width: 100%;
}

.GAME__result {
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .GAME__images {
    width: 30%;
  }
}

@media only screen and (max-width: 767px) {
  .GAME__images {
    width: 40%;
  }
}

@media only screen and (max-width: 520px) {
  .GAME__images {
    width: 50%;
  }
}
