.RESULT {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #f7f7f7;
    font-size: 3rem;
    text-transform: uppercase;
    transform: translateY(-150%);
  }

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
  }

  &__status {
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2px;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__placeholder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1023px) {
  .RESULT__placeholder {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .RESULT__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 0;
  }
  .RESULT__status {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .RESULT__placeholder.computer {
    grid-column: 2 / 3;
  }
}

@media only screen and (max-width: 520px) {
  .RESULT__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 0;
  }
  .RESULT__placeholder {
    width: 140px;
    height: 140px;
  }

  .RESULT__title {
    transform: translateY(-120%);
  }
}
